[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
pyqt5 = "*"
pandas = "*"
seaborn = "*"
sortednp = "*"
statsmodels = "*"
mountainlab-pytools = "*"
sklearn = "*"
ffms2 = "*"
opencv-python = "*"
ffmpeg-python = "*"
timer = "*"
flake8 = "*"
autopep8 = "*"
tables = "*"

[dev-packages]

[requires]
python_version = "3"
