[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
matplotlib = "*"
pyqt5 = "*"
pandas = "*"
seaborn = "*"
pylint = "*"
autopep8 = "*"
sortednp = "*"
statsmodels = "*"
mountainlab-pytools = "*"

[dev-packages]

[requires]
python_version = "3.9"
